<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
xmlns:gap = "http://phonegap.com/ns/1.0"
id = "studentfolders.student.cascadia.edu/bit175/shyawndkarim"
versionCode="1" 
version = "1.0.0">
<icon src="images/icon.png" width="114" height="114" />

<name>WLT: St. Martin Beaches</name>
<description>
Browse and learn about the hottest beaches in St. Martin.
</description>
<author href="http://studentfolders.student.cascadia.edu/bit175/shyawndkarim/" email="shyawnkarim@gmail.com">
Shyawn Karim
</author>
</widget>